<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    
    <!-- 添加 Unity 配置节 -->
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0" />
    </configSections>

    <!-- 数据库连接配置 -->
    <connectionStrings>
        <add name="RTQMUnitOfWork" providerName="System.Data.SqlClient" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=RTQM_DB;User ID=sa;Password=sa@123456" />
    </connectionStrings>

    <!-- 网站配置 -->
    <system.web>
        <authentication mode="Forms">
            <forms loginUrl="~/login.aspx" name=".ASPXFORMSATUH"/>
        </authentication>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
