<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


	<configSections>
		<section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
	</configSections>
	
	<extnet licenseKey="MjUzMTM4MzQsMSw5OTk5LTEyLTMx"/>

	<connectionStrings>
		<add name="DemoDataBase"
			 connectionString="Data Source=chinadataserver;Initial Catalog=WEFrameworkDemo;Persist Security Info=True;User ID=sa;Password=ls1"
			 providerName="System.Data.SqlClient" />
		<add name="DemoRavenDB" connectionString="Url=http://ezikeyserver:8080;Database=H2"/>
	</connectionStrings>


  
  <system.web>
	  
    <compilation debug="true" targetFramework="4.0" />
	  <!--
		Default Session State is Readonly, Default theme is "Default" : See the theme folder in /App_Themes
	  -->
    <pages enableSessionState="ReadOnly" theme="Default">
      <controls>
		<add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
        <add tagPrefix="webezi" namespace="WebEzi.Control.ExtNet" assembly="WebEzi.Control.ExtNet"/>
      </controls>
    </pages>

	 <httpHandlers>
		  <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
	 </httpHandlers>

	  <httpModules>
		  <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
	  </httpModules>

	  <!--
		Session setting, the session state service must be active on server.
	  -->
	  <sessionState mode="StateServer" cookieless="false" timeout="240" stateNetworkTimeout="14400"/>

	  <!--
		globalization setting, en-AU is the defualt globalization for most projects of Webezi.
	  -->
	  <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-AU" uiCulture="en-AU"/>
	  
  </system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<modules>
			<add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
		</modules>

		<handlers>
			<add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
		</handlers>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="1.0.0.0-4.5.10" newVersion="4.5.11" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0" newVersion="2.2.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
</configuration>
